@page "/Error"
@using System.Diagnostics
@inject IStringLocalizer<Resources.MainResource> Localizator

<PageTitle>Error</PageTitle>

<h1 class="text-danger">@Localizator["ErrorTitle"]</h1>
<h2 class="text-danger">@Localizator["ErrorText"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@Localizator["RequestID"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@Localizator["DevMode"]</h3>
<p>
    @Localizator["Swapping"]<strong>@Localizator["Dev"]</strong>@Localizator["Display"]
</p>
<p>
    <strong>@Localizator["ErrorPageMainTextPart1"]</strong>
    @Localizator["ErrorPageMainTextPart2"]
    @Localizator["ErrorPageMainTextPart3"]<strong>@Localizator["Dev"]</strong>@Localizator["ErrorPageMainTextPart4"]<strong>ASPNETCORE_ENVIRONMENT</strong>@Localizator["ErrorPageMainTextPart5"]<strong>@Localizator["Dev"]</strong>
    @Localizator["ErrorPageMainTextPart6"]
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
