@page "/terms-of-service"
@inject IStringLocalizer<Resources.TermsAndPrivacyResource> Localizator

<PageTitle>Terms of Service</PageTitle>

<h1>@Localizator["TermsStart1"]</h1>
<p>@Localizator["TermsStart2"]</p>
<p>@Localizator["TermsStart3"]</p>
<h2>@Localizator["TermsMain1"]</h2>
<p>@Localizator["TermsMain2"]</p>
<h2>@Localizator["TermsMain3"]</h2>
<ul>
    <li>@Localizator["TermsMain4"]</li>
    <li>@Localizator["TermsMain5"]</li>
    <li>@Localizator["TermsMain6"]</li>
</ul>
<h2>@Localizator["TermsMain7"]</h2>
<p>@Localizator["TermsMain8"]</p>
<ol>
    <li>@Localizator["TermsMain9"]</li>
    <li>@Localizator["TermsMain10"]</li>
    <li>@Localizator["TermsMain11"]</li>
    <li>@Localizator["TermsMain12"]</li>
</ol>
<h2>@Localizator["TermsMedium1"]</h2>
<ul>
    <li>@Localizator["TermsMedium2"]</li>
    <li>@Localizator["TermsMedium3"]</li>
    <li>@Localizator["TermsMedium4"]</li>
</ul>
<h2>@Localizator["TermsMedium5"]</h2>
<ul>
    <li>@Localizator["TermsMedium6"]</li>
    <li>@Localizator["TermsMedium7"]</li>
    <li>@Localizator["TermsMedium8"]</li>
    <li>@Localizator["TermsMedium9"]</li>
</ul>
<h2>@Localizator["TermsMedium10"]</h2>
<p>@Localizator["TermsMedium11"]</p>
<ul>
    <li>@Localizator["TermsMedium12"]</li>
    <li>@Localizator["TermsMedium13"]</li>
</ul>
<h2>@Localizator["TermsMedium14"]</h2>
<ul>
    <li>@Localizator["TermsMedium15"]</li>
    <li>@Localizator["TermsMedium16"]</li>
</ul>
<h2>@Localizator["TermsEnd1"]</h2>
<p>@Localizator["TermsEnd2"]</p>
<h2>@Localizator["TermsEnd3"]</h2>
<p>@Localizator["TermsEnd4"]</p>
<h2>@Localizator["TermsEnd5"]</h2>
<p>@Localizator["TermsEnd6"]</p>
<p>@Localizator["TermsEnd7"]</p>

@code {

}
