@page "/Users/ResetPassword"
@using System.Collections.Specialized
@using System.ComponentModel.DataAnnotations

@inject UserClient UserClient
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IStringLocalizer<Resources.UsersResource> Localizator

<PageTitle>MyDiary</PageTitle>

<h3>@Localizator["ResetPasswordTitle"]</h3>

<EditForm Model="changePassword" OnValidSubmit="TryChangePassword" FormName="ResetPassword">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <div class="mt-3">
            @Localizator["ResetPasswordNew"]
            <InputText type="password" class="form-full-width" @bind-value="changePassword.password" />
            <ValidationMessage For="() => changePassword.password" />
        </div>
        <div class="mt-3">
            @Localizator["ResetPasswordVerify"]
            <InputText type="password" class="form-full-width" @bind-value="changePassword.verifyPassword" />
            <ValidationMessage For="() => changePassword.verifyPassword" />
        </div>
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">@Localizator["ResetPasswordChange"]</button>
        </div>
        <div class="mt-3">
            <p class="fs-5 fw-semibold text-danger">@ErrorMessage</p>
        </div>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private ChangePassword changePassword { get; set; } = new() {password = "", verifyPassword = ""};
    string ErrorMessage { get; set; } = "ResetPasswordError";
    NameValueCollection? query { get; set; }

    public async Task TryChangePassword() {
        if(changePassword.password == changePassword.verifyPassword) {
            var response = await HttpClient.PostAsJsonAsync("/auth/ResetPassword", new
                { Token = query!["token"], UserId = Convert.ToInt32(query["userId"]), newPassword = changePassword.password });
            if(response.IsSuccessStatusCode ) {
                NavigationManager.NavigateTo("/Users/Login");
            } else {
                ErrorMessage = Localizator[""];
            }
        }
    }

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        query = System.Web.HttpUtility.ParseQueryString(new UriBuilder(NavigationManager.Uri).Query);
    }

    private class ChangePassword {
    [MinLength(8)]
        public required string password { get; set; }
    [MinLength(8)]
    [Compare(nameof(password))]
        public required string verifyPassword { get; set; }
    }

}
